<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock</title>
    <style>
        .news_container {
            list-style: none;
            width: 100%;
            height: 600px;
            margin: 0;
            padding: 0;
            white-space: nowrap;
            overflow-x: auto;
            overflow-y:hidden;
        }

        .news_day {
            display: inline-block;
            height: 100%;
            overflow:auto;
        }


    </style>
</head>
<body>
    <p id="stock_name">{{stock_name}}</p>
    <form method="post" action="/crawler">
        <input type="number" name="stock_code" placeholder="code" value="{{stock_code}}">
        <input type="date" name="from_date"  value="{{from_date}}">
        <input type="date" name="to_date"  value="{{to_date}}">
        <button type="submit">crawl</button>
    </form>
    <p>selected stock</p>
    <div id="plot_area">
        <img src="data:image/png;base64, {{plot_pic_data}}" alt="plot">
    </div>
    <p>Shanghai composite index</p>
    <div id="sh_plot_area">
        <img src="data:image/png;base64, {{sh_pic_data}}" alt="plot">
    </div>

    <p style="color: red;">{{error}}</p>

    <ul class="news_container">
        {% if stock_news %}
        {% for k, v in stock_news.items() %}
        <li class="news_day">
            <b>{{k}}>>></b>
            <ul>
                {% for i in v %}
                <li><a target="_blank" href="{{i['url']}}">{{i['title']}}</a></li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
        {% endif %}
    </ul>
</body>
</html>